.floatL {
	/*float: left;*/
	/*padding-left: 255px;*/
}

.floatR {
	/*float: right;*/
	width: 50%;
	/*margin-right: 60px;*/
}

#clear {
	clear: both;
	text-align: center;
	padding-top: 185px;
	padding-bottom: 40px;
}

ul li {
	display: -moz-box;
}

div ul {
	text-align: center;
}

#center {
	/*text-align: left;*/
	/*margin-top: 140px;*/
	/*text-indent: 105px;*/
	padding-top: 95px;
}

#picR {
	border-radius: 60%;
	width: 50%;
	height: 50%;
	/*margin-top: -300px;
	margin-left: -400px;*/
}

.floatPicR {
	height: 30%;
	width: 35%;
	/*margin-left: 70px;*/
}

.floatPicRR {
	height: 25%;
	width: 35%;
	/*margin-left: 180px;*/
}

.floatPicL {
	height: 30%;
	width: 70%;
	/*margin-left: 265px;*/
}

.clear1 {
 	clear: both;
 	/*margin-right: 150px;*/
 }

 #mid {
 	clear: both;
 	padding-top: 160px;
 	padding-bottom: 210px;
 	font-size: bold;
 }

.center {
 	text-align: -moz-center;
 }

 div ol {
 	text-align: justify;
 	padding-top: 0px;
 	font-size: 15px;
 }

 ol li {
 	padding-top: 30px;
 }

 #displayG {
 	display: inline-flex;
 	padding-left: 110px;
	padding-bottom: 150px; 	
 }

 .aligneF {
 	text-align: right;
 	padding-top: 105px;
 	color: white;
 	text-shadow: 1px 1px black;
 	/*margin-bottom: -16px;*/
 }

 .paddingB {
 	padding-right: 160px;
 }

 #space {
 	padding-top: 50px;
 	background-image: url();
 	background-size: 100%;
 	background-repeat: no-repeat;
 }

 #spaceA {
 	padding-bottom: 65px;
 	padding-top: 65px;
 }

#spaceB {
	padding-bottom: 65px;
}

 #spaceC {
 	padding-top: 20px;
 }

#padtop{
	padding-top: 50px;
}

body {
	padding: 0px;
	/*margin: 0px;*/
	width: 100%;
	height: 100%; 
	font-family: 'Fira Sans', sans-serif;
}

#background1{
	background-image: url(images/back.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	padding-top: 1px;
	text-shadow: 1px 1px grey;
}

h1 {
	font-family: 'Black Ops One', cursive;
	font-size: 80px;
	/*margin-bottom: -20px;*/
}

nav li {
	display: inline;
	padding: 20px;
}

nav ul {
	text-align: center;
	display: -moz-box;
	padding-top: 25px;
	/*margin-left: -55px;*/
}

nav a {
	color: #FFE4C4;
	cursor: pointer;
}

footer ul li {
	text-align: center;
}

ul a:hover {
	opacity: 0.8;
	cursor: pointer;
}

.son {
	opacity: 0;
	background-color: white;
}

.floatPicR:hover .son {
	opacity: 0.95;
	/*margin: -115px 0 0 -22px;*/
	position: absolute;
	padding: 58px;
	color: brown;
}

.floatPicRR:hover .son {
	opacity: 0.95;
	/*margin: -171px 0 0 -45px;*/
	position: absolute;
	padding: 80px;
	color: brown;
}

.floatPicL:hover .son {
	opacity: 0.95;
	/*margin: -171px 0 0 -55px;*/
	position: absolute;
	padding: 80px;
	color: brown;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.clear {
	clear: both;
}

footer ul:hover {
	opacity: 0.8;
}

#backg {
	background-size: 100%;
 	background-repeat: no-repeat;
 	background-image: url(images/why.jpg);
}
/* responsive 320px */

@media (max-width: 320px) {
	h1 {
		font-size: 30px;
	}
	h3 {
		font-size: 10px;
	}
	h4 {
		font-size: 10px;
	}
	#center {
		padding-top: 0px;
	}
}

@media (min-width: 321px) and (max-width: 993px) {
	.floatL {
		background-image: url('images/people_pic.png');
		background-size: 35% auto;
		background-repeat: no-repeat;
		background-position: right center;
		margin-right: -90px;
	}

	.floatR {
		background-image: url('images/operation_pic.png');
		background-size: 35% auto;
		background-repeat: no-repeat;
		background-position: right center;
		margin-right: -90px;
	}

	.floatLL {
		background-image: url('images/community_pic.png');
		background-size: 35% auto;
		background-repeat: no-repeat;
		background-position: right center;
		margin-right: -90px;
	}

	.floatPicR {
		opacity: 0;
	}

	.floatPicRR {
		opacity: 0;
	}

	.floatPicL {
		opacity: 0;
	}

}
